@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/

   /*se setea valores para todos los elementos de la pagina*/
*, ::before, ::after {
    margin: 0;/*valor 0 al margin*/
    padding: 0;/*valor 0 al padding*/
    box-sizing: border-box;/*se setea el border-box para incluir el padding y border en el calculo de cajas*/
    font-size: calc(0.5em + 1vh);/*se agrega el calculo de el tamaño de fuente*/
}

/* El estilo base para moviles */

/*En el body*/
body {
    background-color: #112935;/*se setea el color de fondo*/
    color: white;/*se setea el color de la fuente*/
    font-family: 'Montserrat', sans-serif;/*se especifica la typografia y que si no que cargue sans-serif por defecto*/
    text-align: center;/*se alinia el texto al centro*/
    font-weight: 400;/*se le da grosor a la fuente*/
}
/*En el header*/
.header {
    display: flex;/*se pone el display flex*/
    justify-content: space-between;/*se define el espacio del contenido que sera el espacio entre ellos*/
    margin: 1em 5%;/*asignando margin primero arriba abajo , izquierda y derecha*/
    margin-bottom: 2.8em;/*agragando margen de abajp*/
}
/*solo para src*/
.src-only {
    display: none;/*se pone el display "none" para esconder el elemento*/
}
/*esconder en mobiles*/
.hide-mobile {
    display: none;/*se pone el display "none" para esconder el elemento, en este caso en moviles*/
}
/*parrafo*/
p{
    font-size: 0.75em;/* modificando el tamaño de la fuente*/
    padding: 1rem;/*estableciendo el padding con respecto al root y no al padre*/
    line-height: 25px;/*se modifica la altura del parrafo*/
}

/*se declara el ancho y el margen en la imagen del logo*/
.logo {
    width: 125px;/*se declara el ancho en la imagen del logo*/
    margin: 1em;/*de declara el margen en la imagen del logo*/
}
/*las opciones*/
.options {
    color: inherit;/*se hereda el color en este caso blanco*/
    text-decoration: none;/*se quita el decoration de la etiqueta a*/
    position: relative;/*se elije relative para moverla desde la posicion original*/
    top: 10%;/*se le da un top*/
    right: 25%;/*se le da un right*/
    font-size: 5.5rem;/*se le da un tamaño al icono*/

    display: flex;/*se pone el display flex*/
    flex-wrap: wrap;/*da un salto de linea si los elementos no caben*/
    align-items: flex-start;/*se alinean desde el primero al ultimo*/

}
/*ultimo elemento de las opciones*/
.options i:last-child {
    font-size: 1.6rem;/*se le da un tamaño al icono de el ultimo elemento, en este caso el icono de la x*/
}

/* Big area */
.big-hero img {
    margin-top: 5em;/*agregando el margin de arriba*/
    width: 150px;/*tamaño de la imagen del big hero*/
}

/*en el h2 que esta adentro del big hero*/
.big-hero h2 {
    font-size: 3em;/*tamaño de la letra*/
    font-weight: 700;/*se le da grosor a la fuente*/
    letter-spacing: 0.002em;/*el espaciado entre las letras*/
    margin-top: 0.4em ;/*margen de arriba*/
}

/*en el p que esta adentro del big hero*/
.big-hero p {
    font-size: 1.3em;/*tamaño de fuente*/
    color: #D7DEE6;/*color de la fuente*/

}

/* Social links*/
.social-links{
    list-style: none;/*se quita la decoracion de la lista*/
    padding: 0;/*se asigna un padding de 0*/
    /*se le asigna un margin top*/
    display: flex;/*se pone el display flex*/
    flex-direction: row;/*se define la direccion en filas*/
    justify-content: center;/*se alinian al centro*/
    
}
/*las redes sociales en el big hero*/
.big-hero .social-links
{
    margin-top: -8.1em;/*se le agrega un margin de arriba*/
    margin-bottom: 12%;/*se le agrega margen de abajo*/
}

/* Social links, lista, hipervinculos*/
.social-links li a{
    color: #D7DEE6;/*se le asigna un color de fuente*/
    text-decoration: none;/*se le quita la decoracion a la fuente*/
    font-size: 14rem;/*tamaño de la fuente para los iconos*/
}
/*se da un espacio entre los elementos*/
.big-hero .social-links li:first-child a {
    margin-right: 0.12em;/*magen izquierdo*/

}

.green-area {
    background-color: #0AC693; /*color de fondo*/
}

/*en la clase post*/
.post {
    padding: 1em;/*se le asigna un padding*/
    margin-bottom: -2px;/*se le asigna un margen negativo*/
}

/*en el h2 de la clase post*/
.post h2 {
    text-transform: uppercase;/*se ponen las letras en mayusulas*/
    font-weight: 900;/*se le asigna un grosor a la letra*/
    font-size: 1.7em;/*se e asigna tamaño de fuente*/
    margin: 1em;/*se le asigna margen*/
    margin-bottom: 2em;/*se agrega margen de abajo*/
}

/*en los ul de post*/
.post ul {
    list-style: none;/*se le quita la decoracion a la lista*/
}

/*en los elementos de la lista*/
.post ul li {
    min-height: 300px;/*se le asigna un alto minimo*/
    max-width: 350px;/*se le asigna un ancho minimo*/
    margin: 2rem auto;/*se le asigna margen de 2rem arriba y abajo y auto a los lados */
}

/*los articulos en las listas*/
.post ul li article {
    overflow: hidden;/*El contenido es recortado y no se muestran barras de posición.*/
    border-radius: 10px;/*se le redondean las esquinas*/
    background-color: #ffffff;/*color de fondo*/
    text-align: left;/*se alinia el texto a la izquierda*/
    padding-bottom: 2em;/*se le asigna un padding de la parte de abajo*/
}
/*imagenes del articulo*/
.post article img{
    height: 240px;/*altura de la imagen*/
    width: 100%;/*ancho de la imagen*/
    object-fit: cover;/*se hace que la imagen se ajuste al molde*/
}
/*h3 del articulo*/
.post article h3 {
    color: #0D5061;/*color de la fuente*/
    margin-top: 0.8em;/*margen del top*/
    padding: 0em 1rem;/*pading primero de arriba y abajo, despues izquierda y derecha*/
    font-size: 1.5em;/*tamaño de la fuente*/
    white-space: nowrap;/*Reduce espacios en blanco, pero suprime saltos de linea del origen.*/
    overflow: hidden;/*El contenido es recortado y no se muestran barras de posición.*/
    text-overflow: ellipsis;/*al no caber el texto pone ... con la opcion ellipsis*/
}

/*p del articulo*/
.post article p {
    color:#112935;/*color de fuente*/
    font-size: 1.1em;/*tamaño de fuente*/
    padding: 1rem;/*se le asigna un padding*/
    line-height: 25px;/*se modifica la altura del parrafo*/
}

/* About */

.about{
    margin-top: 4.2em;/*margen de la parte de arriba*/
}
/*en el h2 del about*/
.about h2 {
    text-transform: uppercase;/*pasar todas las letras a mayusculas*/
    font-weight: 700;/*grosor de fuente*/
    font-size: 1.7em;/*tamaño de fuente*/
    margin: 1em;/*se define un margen*/
}
/*bio info img*/
.bio-info img{
    margin-top: 3em;/*se agraga un margen de arriba*/
    margin-bottom: 1.4em;/*se agraga un margen de abajo*/
   width: 210px;/*ancho de la imagen*/
}
/*bio info parafo*/
.bio-info p{
    font-size: 21px;/*cambiar el tamaño de fuente*/
    padding: 2em;/*agregando padding a los 4 lados*/
    text-align: left;/*aliniar el texto a la izquierda*/
    line-height: 25px;/*define el espacio entre lineas*/
    letter-spacing: 2px;/*espaciado entre letras*/
    margin-bottom: 0.7em;/*se agraga un margen de abajo*/
}
/*contacto*/
.contact {
    display: flex;/*definiendo el display*/
    flex-direction: column;/*definienfo la direccion del flex*/
    text-align: left;/*aliniar el texto a la izquierda*/
    padding: 0px 1em;/*agragando padding arriba y abajo, izquierda derecha*/
}
/*para los label del formulario*/
 form label{
     font-size: 1.7em;/*tamaño de fuente*/
     font-weight: 700;/*grosor de fuente*/
 }
/*todos los elementos que esten dentro de contact*/
.contact * + * {
    margin-top: 0.8em;/*agregando margen de arriba*/
}

/*formulario de contacto*/
.contact-form {
    display: flex;/*definiendo el display*/
    flex-direction: column;/*definienfo la direccion del flex*/
}
/*el input de contact*/
.contact input
{
    margin-bottom: 0.5em;/*texto del input de contacto*/
}

/*para los input del form, y para el text area*/
.contact-form input, .contact-form textarea{
    padding: 1.3rem 3.5rem;/*agragando padding arriba y abajo, izquierda derecha*/
    border: none;/*quitando los vordes*/
    border-radius: 0px 2em;/*radio de las esquinas de los imput*/
    width: 100%;/*ancho*/
    font-size: 2em;/*tamaño de la fuente*/
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; /*color de placeholder*/
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }/*para internet explores*/

/*para el boton de tipo submit*/
.contact-form input[type=submit] {
    background-color: #F74442;/*para el color de fondo*/
    font-weight: 200;/*grosor de la letra*/
    color: white;/*color de la letra*/
    font-size: 1.45rem;/*tamaño de la fuente segun el root*/
    margin-top: 1.75em;/*margen de arriba*/
    margin-bottom: 3em;/*margen de abajo*/
    letter-spacing: 0.05em;/*espacio entre letras*/
}
/*decoracion*/
.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");/*imagen de fondo*/
}

/*fondo del foote*/
footer{
    background-color: #0D5061;/*fondo de color*/
    color:#D7DEE6;/*color de letra*/
}
/*redes sociales del footer*/
footer .social-links li{
    margin-top: -9em;/*asignando margenes*/
}
footer .social-links li:first-child  a{
    margin-right: 0.18em;/*magen derechoo*/

}
/*entrando al text area*/
textarea
{
 resize: none;/*quitando el resize*/
}
/*parrafo del footer*/
footer p{
    font-size: 0.9em;/*tamaño de fuente*/
    margin-top: -4em;/*margen de arriba*/
    padding-bottom: 2.5em;/*relleno de abajo*/
}
/*menu*/
.menu {
    background-color: #112935;/*color del menu mobile*/
    position: absolute;/*definiendo la posicion*/
    z-index: 20;/*darle mas importancia sobre otros elementos*/
    top: 60px;/*asignando un top*/
    right: 0;/*asignando un right*/
    width: 100vw;/*asignando el ancho*/
    height: calc(100vh - 60px);/*definiendo la altura*/
    list-style: none;/*quitando el estilo de la lista*/
    text-align: left;/*aliniando el texto a la derecha*/
    padding: 1em;/*asignando un padding*/
}
/*listas del menu*/
.menu li {
    display: block;/*definiendo el displey*/
    padding: 0.5em;/*asignando un padding*/
    margin-top: 5px;/*asignando el margin de ariba*/
}
/*links de las listas del menu*/
.menu li a {
    color: white;/*asignando un color de letra*/
    text-decoration: none;/*quitando la decoracion del tecto*/
    
}
/*se hace mas grande la imagen en el bug hero*/
.big-hero .container img
{
    height: 172px;/*se agrega altura*/
    width: auto;/*se le pone un ancho automatico*/
    margin-bottom: 6%;/*margen de abajo*/
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .about h2 {
        text-transform: uppercase;/*se ponen las letras en mayusulas*/
        font-weight: 900;/*se le asigna un grosor a la letra*/
        font-size: 3em;/*se e asigna tamaño de fuente*/
        margin: 1em;/*se le asigna margen*/
        margin-bottom: 1em;/*se agrega margen de abajo*/
    }
    /*fondo del foote*/
    footer{
        background-color: #0D5061;/*fondo de color*/
        color:#D7DEE6;/*color de letra*/
    }
    /*redes sociales del footer*/
    footer .social-links li{
        margin-top: -2em;/*asignando margenes*/
        font-size: 3em;
    }
    /*ultimo hijo de li en social link*/
    footer .social-links li:first-child  a{
        margin-right: 0.2em;/*magen derechoo*/

    }
    /*en el h2 de la clase post*/
    .post h2 {
        text-transform: uppercase;/*se ponen las letras en mayusulas*/
        font-weight: 900;/*se le asigna un grosor a la letra*/
        font-size: 3em;/*se e asigna tamaño de fuente*/
        margin: 1em;/*se le asigna margen*/
        margin-bottom: 1em;/*se agrega margen de abajo*/
    }
    /*icono  flecha*/
    .fa-arrow-circle-down
    {
        margin-top: -3em;/*se le agrega un margin de arriba*/
        font-size: 5rem;/*tamaño de la fuente para los iconos*/
        margin-bottom: 20%;/*se le agrega margen de abajo*/ 
        color: #0AC693;/*se le asigna un color de fuente*/ 
    }
    /*En el header*/
    .header a{
        font-size: 1.2em;/*tamaño de fuente*/
        
    }
    .container
    {
        margin-left: 5%;/*margen a la izquierda*/
        margin-right: 5%;/*margen a la derecha*/
    }
    /*las redes sociales en el big hero*/
    .big-hero .social-links
    {
        margin-top: -1.8em;/*se le agrega un margin de arriba*/
        margin-bottom: 8%;/*se le agrega margen de abajo*/
        font-size: 7rem;/*tamaño de la fuente para los iconos*/
    }

    /* Social links, lista, hipervinculos*/
    .social-links li a{
        color: #D7DEE6;/*se le asigna un color de fuente*/
        text-decoration: none;/*se le quita la decoracion a la fuente*/
        
    }
    /*se da un espacio entre los elementos*/
    .big-hero .social-links li:first-child a {
        margin-right: 0.12em;/*magen izquierdo*/

    }
    /*header*/
    .header
    {
        margin: 0% 2%;/*margen arriba y abajo, derecha y izquierda*/
    }
    /*parte de about*/
    .about
    {
        display: flex;/*display flex*/
        flex-direction: column;/*direccion en columna*/
        margin-bottom: 3%;/*magen abajo*/
    }
    /*parte de bio info*/
    .bio-info
    {
        margin-top: 2%;/*margen de arriba*/
        float: left;/*si situa a la izquierda*/
        width: 50%;/*ancho de 50%*/
    }
    /*parte de contacto*/
    .contact
    {
        margin-top: 2%;/*margen de arriba*/
        float: right;/*se situa a la derecha*/
        width:50%;/*ancho de 50%*/
    }
    /*ancho de boton*/
    .contact-form input[type=submit]
    {
        width: 50%;/*ancho de 50%*/
    }
    /*iconos*/
    .social-links li a
    {
        font-size: 5em;/*tamaño de la fuente*/
    }
    

    /*las listas del post*/
    .post ul {
        list-style: none;/*eliminando el estilo de las listas*/
        display: flex;/*definiendo el display*/
        flex-wrap: wrap;/*da un salto de linea si los elementos no caben*/
        justify-content: center;/*centra los elementos*/
    }
    
    /*elementos de la lista*/
    .post ul li {
        min-height: 350px;/*se asigna un minimo de altura a los elementos*/
        max-height: 3500px;/*se asigna un maximo de altura a los elementos*/
        margin: 1rem 2rem;/*se asigna un margen arriba y abajo, izquierda y derecha*/
        flex: 1 0 300px;/*define cuanto va a crecer, cuanto se va a encoger, el tamaño del elemento*/
    }

    /*logo*/
    .logo {
        width: 150px;/*ancho*/
        margin: 1.5em;/*alto*/
    }
    /*mostrar escritorio*/
    .show-desktop {
        display: block;/*definiendo display*/
    }
    /*mostrar escritorio*/
    .hide-desktop {
        display: none;/*escodiendo para desktop*/
    }
    /*parte del menu*/
    .menu {
        background-color: #112935; /*colo de fondo del menu*/
        position: static;/*definiendo la posicion*/
        z-index: 20;/*darle mas importancia sobre otros elementos*/
        width: auto;/*ancho*/
        height:auto;/*altura*/
        display: flex;/*definiendo el display*/
        margin-top: 1em;/*definiendo el margen de arriba*/
    }

} 

@media only screen and (min-width: 1024px) {
    /*imagen de los articulos*/
    .post article img{
        height: 150px;/*altura de la imagen*/
        width: 100%;/*ancho de la imagen*/
        object-fit: cover;/*se hace que la imagen se ajuste al molde*/
    }
    /*rticulos en el post*/
    .post ul li article {
        overflow: hidden;/*El contenido es recortado y no se muestran barras de posición.*/
        border-radius: 10px;/*se le redondean las esquinas*/
        background-color: #ffffff;/*color de fondo*/
        margin: 0 8%;/*margen arriba y abajo, derecha y arriba*/
        text-align: left;/*se alinia el texto a la izquierda*/
        padding-bottom: 2em;/*se le asigna un padding de la parte de abajo*/
    }
    /*h2 del post*/
    .post h2 
    {
        font-size: 2em;/*fuente de la letra*/
    }
    /*icono de la flecha*/
    .fa-arrow-circle-down
    {
        margin-top: -3em;/*se le agrega un margin de arriba*/
        font-size: 5rem;/*tamaño de la fuente para los iconos*/
        margin-bottom: 10%;/*se le agrega margen de abajo*/ 
        color: #0AC693;/*se le asigna un color de fuente*/ 
    }
    /*las redes sociales en el big hero*/
    .big-hero .social-links
    {
        margin-top: -1em;/*se le agrega un margin de arriba*/
        margin-bottom: 0%;/*se le agrega margen de abajo*/
    }
    
    /* Social links, lista, hipervinculos*/
    .social-links li a{
        color: #D7DEE6;/*se le asigna un color de fuente*/
        text-decoration: none;/*se le quita la decoracion a la fuente*/
        font-size: 12.5rem;/*tamaño de la fuente para los iconos*/
    }
    /*contenedor de los icono*/
    .social-links li{
        margin-bottom: 0.8em;/*margen de abajo*/
    }
    /*se da un espacio entre los elementos*/
    .big-hero .social-links li:first-child a {
        margin-right: 0.3em;/*magen izquierdo*/
    
    }
    /*en el h2 que esta adentro del big hero*/
    .big-hero h2 {
        font-size: 3em;/*tamaño de la letra*/
        font-weight: 700;/*se le da grosor a la fuente*/
        letter-spacing: 0.002em;/*el espaciado entre las letras*/
        margin-top: -1em ;/*margen de arriba*/
    }
    /*h2 del acerca de*/
    .about h2
    {
        margin-top: -0.8em;/*margen de arriba*/
        font-size: 1.8em;/*tamaño de la letra*/
    }
    /*h3 del post del articulo*/
    .post article h3
    {
        font-size: 1.2em;/*fuente de la letra*/
    }
    .post article p
    {
        line-height: 20px;/*define el espacio entre lineas*/
        font-size: 0.9em;/*parrafo del aticulo*/
    }
    .header ul li a
    {
        font-size: 1.5em;/*fuente de la letra*/
    }
    .menu li a:hover{
        color: #F74442;/*color*/
        
    }
    .container
    {
        margin-left: 3%;/*margen izquierda*/
        margin-right: 3%;/*margen derecha*/
    }

    .header
    {
        margin: 0% 2%;/*margen arriba y abajo, derecha y izquieda*/
    }
    .about
    {
        display: flex;/*display flex*/
        flex-direction: column;/*direccion en columnas*/
        margin-bottom: 3%;/*margin de abajo*/
    }
    .bio-info
    {
        margin-top: 2%;/*margen de arriba*/
        float: left;/*posicionar a la izquierda*/
        width: 50%;width: 46%;/*ancho*/
    }
    .contact
    {
        margin-top: 2%;/*margen de arriba*/
        float: right;/*posicionar a la derecha*/
        width:50%;/*ancho*/
    }
    .contact-form input[type=submit]
    {
        width: 50%;width: 46%;/*ancho*/
    }
    .contact * + * {
        margin-top: 1em;/*agregando margen de arriba*/
    }
    .about .contact
    {
        width: 46%;width: 46%;/*ancho*/
    }
    .about .bio-info
    {
        width: 46%;/*ancho*/
        margin-right: 8%;width: 46%;/*mrgen de la derecha*/
    }
    
    .about p
    {
        font-size: 1em;/*tamaño de fuente*/
    }
    /*para los label del formulario*/
    form label{
        font-size: 1.2em;/*tamaño de fuente*/
        font-weight: 700;/*grosor de fuente*/
    }


    /*para los input del form, y para el text area*/
    .contact-form input, .contact-form textarea{
        padding: 1.3rem 3.5rem;/*agragando padding arriba y abajo, izquierda derecha*/
        border: none;/*quitando los vordes*/
        border-radius: 0px 2em;/*radio de las esquinas de los imput*/
        width: 100%;/*ancho*/
        font-size: 1.4em;/*tamaño de la fuente*/
    }
    /*redes sociales del footer*/
    footer .social-links li{
        margin-top: -2em;/*asignando margenes*/
        margin-bottom: -0.1em;/*tamaño margen de abajo*/
        font-size: 3em;/*tamaño de fuente*/
    }
    footer p
    {
        padding-bottom: 2.5em;/*tamaño de padding de abajo*/
    }
    .menu{
        font-size: 1em;/*tamaño de fuente*/
    }
    /*para el boton de tipo submit*/
    .contact-form input[type=submit] {
        background-color: #F74442;/*para el color de fondo*/
        font-weight: 200;/*grosor de la letra*/
        color: white;/*color de la letra*/
        font-size: 1rem;/*tamaño de la fuente segun el root*/
        margin-top: 1.75em;/*margen de arriba*/
        margin-bottom: 3em;/*margen de abajo*/
        letter-spacing: 0.05em;/*espacio entre letras*/
    }


}

@media only screen and (min-width: 1440px) {

    .container {
        width: 90%;/*definiendo el ancho*/
        margin: 0 auto;/*definiendo el margin arriba y abajo, izquierda y derecha*/
        max-width: 1440px;/*maximo del ancho*/
    }
    /*para los input del form, y para el text area*/
    .contact-form input, .contact-form textarea{
        padding: 1.3rem 3.5rem;/*agragando padding arriba y abajo, izquierda derecha*/
        border: none;/*quitando los vordes*/
        border-radius: 0px 2em;/*radio de las esquinas de los imput*/
        width: 100%;/*ancho*/
        font-size: 1em;/*tamaño de la fuente*/
    }
    /*para el boton de tipo submit*/
    .contact-form input[type=submit] {
        background-color: #F74442;/*para el color de fondo*/
        font-weight: 200;/*grosor de la letra*/
        color: white;/*color de la letra*/
        font-size: 1rem;/*tamaño de la fuente segun el root*/
        margin-top: 1.75em;/*margen de arriba*/
        margin-bottom: 3em;/*margen de abajo*/
        letter-spacing: 0.05em;/*espacio entre letras*/
    }
    .bio-info p
    {
        font-size: 0.9em;/*tamaño de fuente*/
        font-weight: 400;/*grosor de fuente*/
    }
    .post ul li article {
        overflow: hidden;/*El contenido es recortado y no se muestran barras de posición.*/
        border-radius: 10px;/*se le redondean las esquinas*/
        background-color: #ffffff;/*color de fondo*/
        margin: 0 4%;/*margen arriba y abajo, derecha y izquierda*/
        text-align: left;/*se alinia el texto a la izquierda*/
    }
    footer .social-links li{
        margin-bottom: 0.5em; /*margen de redes sociales*/
    }
    .header ul li a
    {
        font-size: 1.4em;/*tamaño de fuente*/
    }

}